#certs
certs

# Node files
node_modules/

#logs files
/logs

#Configuration files
config/default.json 

# Ignore Swagger output file
swagger-output.json

#Now README file not push
README.txt